.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.box {
  height: 60vh;
  width: 60vw;
  margin: 20px auto 40px auto;
}
